.reprodaction { 
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    & { 
        font-family: Raleway;
        font-weight: 500;
        font-size: 40px;
        line-height: 44px;
        color: #2C2D35;
    }

    @media (max-width: 430px) {
        .reprodactionText { 
            font-size: 24px;
            line-height: 26px;
            margin-left: 30px;
        }
    }
    
    .text {
        display: flex;
        gap: 15px;
        @media (max-width: 430px) {
           margin-top: 10px;
           gap: 10px;
           margin-left: 30px;
        }
        button{
            border-radius: 20px;
            padding: 10px 20px 10px 20px;
            background-color: #D4E8D9;
            color: #2C2D35;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;
            &:hover { 
                transition: background-color .7s;
                background-color: #7ab389;
            }
            
        }
        .active { 
           background-color: #639470;
        }
    }
    
}
