.newItem { 
    margin-top: 70px;
    height: 774px;
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    .text {
        padding-top: 100px;
        display: flex;
            p { 
                margin-left: 10px;
                font-family: Raleway;
                font-weight: 500;
                font-size: 40px;
                line-height: 40px;
                color: #F4F6F5;
            }
        }
        h1,h2 { 
            width: 540px;
            font-family: Raleway;
            font-weight:500;
            font-size: 18px;
            line-height: 27px;
            color: #FFFFFF;
            padding-top: 45px;
        }
}